@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?c129xb");
  src: url("fonts/icomoon.eot?c129xb#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?c129xb") format("truetype"), url("fonts/icomoon.woff?c129xb") format("woff"), url("fonts/icomoon.svg?c129xb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.bit-1,
.bit-1-1,
.bit-1-2,
.bit-1-3,
.bit-2-3,
.bit-1-4,
.bit-3-4,
.bit-1-6,
.bit-5-6,
.bit-1-12,
.bit-2-12,
.bit-3-12,
.bit-4-12,
.bit-5-12,
.bit-6-12,
.bit-7-12,
.bit-8-12,
.bit-9-12,
.bit-10-12,
.bit-11-12,
.bit-12-12 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.bit-1-12 {
  width: 8.3333%;
  *width: 8.3023%;
}

.bit-1-6,
.bit-2-12 {
  width: 16.6667%;
  *width: 16.6357%;
}

.bit-1-4,
.bit-3-12 {
  width: 25%;
  *width: 24.9690%;
}

.bit-1-3,
.bit-4-12 {
  width: 33.3333%;
  *width: 33.3023%;
}

.bit-5-12 {
  width: 41.6667%;
  *width: 41.6357%;
}

.bit-1-2,
.bit-6-12 {
  width: 50%;
  *width: 49.9690%;
}

.bit-7-12 {
  width: 58.3333%;
  *width: 58.3023%;
}

.bit-2-3,
.bit-8-12 {
  width: 66.6667%;
  *width: 66.6357%;
}

.bit-3-4,
.bit-9-12 {
  width: 75%;
  *width: 74.9690%;
}

.bit-5-6,
.bit-10-12 {
  width: 83.3333%;
  *width: 83.3023%;
}

.bit-11-12 {
  width: 91.6667%;
  *width: 91.6357%;
}

.bit-1,
.bit-1-1,
.bit-12-12 {
  width: 100%;
}

@media screen and (min-width: 35.5em) {
  .bit-sm-1,
  .bit-sm-1-1,
  .bit-sm-1-2,
  .bit-sm-1-3,
  .bit-sm-2-3,
  .bit-sm-1-4,
  .bit-sm-3-4,
  .bit-sm-1-6,
  .bit-sm-5-6,
  .bit-sm-1-12,
  .bit-sm-2-12,
  .bit-sm-3-12,
  .bit-sm-4-12,
  .bit-sm-5-12,
  .bit-sm-6-12,
  .bit-sm-7-12,
  .bit-sm-8-12,
  .bit-sm-9-12,
  .bit-sm-10-12,
  .bit-sm-11-12,
  .bit-sm-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .bit-sm-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .bit-sm-1-6,
  .bit-sm-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .bit-sm-1-4,
  .bit-sm-3-12 {
    width: 25%;
    *width: 24.9690%;
  }

  .bit-sm-1-3,
  .bit-sm-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .bit-sm-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .bit-sm-1-2,
  .bit-sm-6-12 {
    width: 50%;
    *width: 49.9690%;
  }

  .bit-sm-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .bit-sm-2-3,
  .bit-sm-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .bit-sm-3-4,
  .bit-sm-9-12 {
    width: 75%;
    *width: 74.9690%;
  }

  .bit-sm-5-6,
  .bit-sm-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .bit-sm-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .bit-sm-1,
  .bit-sm-1-1,
  .bit-sm-12-12 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .bit-md-1,
  .bit-md-1-1,
  .bit-md-1-2,
  .bit-md-1-3,
  .bit-md-2-3,
  .bit-md-1-4,
  .bit-md-3-4,
  .bit-md-1-6,
  .bit-md-5-6,
  .bit-md-1-12,
  .bit-md-2-12,
  .bit-md-3-12,
  .bit-md-4-12,
  .bit-md-5-12,
  .bit-md-6-12,
  .bit-md-7-12,
  .bit-md-8-12,
  .bit-md-9-12,
  .bit-md-10-12,
  .bit-md-11-12,
  .bit-md-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .bit-md-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .bit-md-1-6,
  .bit-md-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .bit-md-1-4,
  .bit-md-3-12 {
    width: 25%;
    *width: 24.9690%;
  }

  .bit-md-1-3,
  .bit-md-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .bit-md-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .bit-md-1-2,
  .bit-md-6-12 {
    width: 50%;
    *width: 49.9690%;
  }

  .bit-md-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .bit-md-2-3,
  .bit-md-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .bit-md-3-4,
  .bit-md-9-12 {
    width: 75%;
    *width: 74.9690%;
  }

  .bit-md-5-6,
  .bit-md-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .bit-md-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .bit-md-1,
  .bit-md-1-1,
  .bit-md-12-12 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .bit-lg-1,
  .bit-lg-1-1,
  .bit-lg-1-2,
  .bit-lg-1-3,
  .bit-lg-2-3,
  .bit-lg-1-4,
  .bit-lg-3-4,
  .bit-lg-1-6,
  .bit-lg-5-6,
  .bit-lg-1-12,
  .bit-lg-2-12,
  .bit-lg-3-12,
  .bit-lg-4-12,
  .bit-lg-5-12,
  .bit-lg-6-12,
  .bit-lg-7-12,
  .bit-lg-8-12,
  .bit-lg-9-12,
  .bit-lg-10-12,
  .bit-lg-11-12,
  .bit-lg-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .bit-lg-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .bit-lg-1-6,
  .bit-lg-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .bit-lg-1-4,
  .bit-lg-3-12 {
    width: 25%;
    *width: 24.9690%;
  }

  .bit-lg-1-3,
  .bit-lg-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .bit-lg-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .bit-lg-1-2,
  .bit-lg-6-12 {
    width: 50%;
    *width: 49.9690%;
  }

  .bit-lg-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .bit-lg-2-3,
  .bit-lg-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .bit-lg-3-4,
  .bit-lg-9-12 {
    width: 75%;
    *width: 74.9690%;
  }

  .bit-lg-5-6,
  .bit-lg-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .bit-lg-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .bit-lg-1,
  .bit-lg-1-1,
  .bit-lg-12-12 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  .bit-xl-1,
  .bit-xl-1-1,
  .bit-xl-1-2,
  .bit-xl-1-3,
  .bit-xl-2-3,
  .bit-xl-1-4,
  .bit-xl-3-4,
  .bit-xl-1-6,
  .bit-xl-5-6,
  .bit-xl-1-12,
  .bit-xl-2-12,
  .bit-xl-3-12,
  .bit-xl-4-12,
  .bit-xl-5-12,
  .bit-xl-6-12,
  .bit-xl-7-12,
  .bit-xl-8-12,
  .bit-xl-9-12,
  .bit-xl-10-12,
  .bit-xl-11-12,
  .bit-xl-12-12 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .bit-xl-1-12 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .bit-xl-1-6,
  .bit-xl-2-12 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .bit-xl-1-4,
  .bit-xl-3-12 {
    width: 25%;
    *width: 24.9690%;
  }

  .bit-xl-1-3,
  .bit-xl-4-12 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .bit-xl-5-12 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .bit-xl-1-2,
  .bit-xl-6-12 {
    width: 50%;
    *width: 49.9690%;
  }

  .bit-xl-7-12 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .bit-xl-2-3,
  .bit-xl-8-12 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .bit-xl-3-4,
  .bit-xl-9-12 {
    width: 75%;
    *width: 74.9690%;
  }

  .bit-xl-5-6,
  .bit-xl-10-12 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .bit-xl-11-12 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .bit-xl-1,
  .bit-xl-1-1,
  .bit-xl-12-12 {
    width: 100%;
  }
}
a {
  text-decoration: none;
  color: black;
}

html, body {
  font-size: 16px;
  overflow-x: hidden;
}

.wrapper {
  width: 75rem;
  margin: 0 auto;
}

.menu {
  height: 100vh;
  background: #232323;
  position: absolute;
  width: calc(100% / 3);
  left: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-out;
}

body.menu-open .menu {
  left: calc(100% / 3 * 2);
  opacity: 1;
  visibility: visible;
}

body > *:not(.menu) {
  transition: margin 0.5s ease-out;
}

body.menu-open > *:not(.menu) {
  margin-right: calc(100% / 3);
  margin-left: calc(-100% / 3);
}

.logo {
  height: 2rem;
}
.logo__title {
  padding: 0 0.5rem;
}

.nav .hamburger__menu {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 15px;
  padding: 0;
  width: 48px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
  background: white;
  color: black;
  float: right;
}
.nav .hamburger__menu:focus {
  outline: none;
}
.nav .hamburger__menu span {
  display: block;
  position: absolute;
  top: 24px;
  left: 8px;
  right: 8px;
  height: 3px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 1px;
}
.nav .hamburger__menu span::before,
.nav .hamburger__menu span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.9);
  content: "";
  border-radius: 1px;
}
.nav .hamburger__menu span::before {
  top: 9px;
}
.nav .hamburger__menu span::after {
  bottom: 9px;
}
.nav .hamburger__menu span {
  transition: background 0s 0.3s;
}
.nav .hamburger__menu span::before,
.nav .hamburger__menu span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
.nav .hamburger__menu span::before {
  transition-property: top, transform;
}
.nav .hamburger__menu span::after {
  transition-property: bottom, transform;
}
.nav .hamburger__menu.is-active span {
  background: none;
}
.nav .hamburger__menu.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}
.nav .hamburger__menu.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}
.nav .hamburger__menu.is-active span::before,
.nav .hamburger__menu.is-active span::after {
  transition-delay: 0s, 0.3s;
}

.landing {
  height: calc(100vh - 2rem);
  overflow: hidden;
  position: relative;
}
.landing__cover {
  min-width: 100%;
  min-height: 100%;
  padding: 0 0 10px;
}
.landing__title {
  color: white;
  position: absolute;
  bottom: 30vh;
  font-size: 4rem;
  letter-spacing: normal;
  left: 5vw;
  width: 50vw;
  background: rgba(35, 35, 35, 0.9);
  padding: 0 10px;
}
.landing__description {
  color: white;
  font-weight: 100;
  position: absolute;
  bottom: 25vh;
  left: 5vw;
  letter-spacing: normal;
  padding: 0 10px;
}

.explanation__title {
  margin: 5rem 0 0;
  padding: 0;
  text-align: center;
  color: rgba(35, 35, 35, 0.9);
  font-size: 2.5rem;
}
.explanation__description {
  color: rgba(35, 35, 35, 0.85);
  font-size: 1.3rem;
  margin: 1rem 20vh 5rem;
  text-align: center;
}

.showcase {
  height: 25rem;
  margin: 5px;
  position: relative;
  overflow: hidden;
}
.showcase__cover {
  height: 100%;
  min-width: 100%;
}
.showcase__title h1 {
  position: absolute;
  top: 30%;
  line-height: 1.2;
  color: white;
  max-height: 5.1rem;
  overflow: hidden;
  width: calc(100% - 4rem);
  padding: 0 2rem;
  font-size: 2rem;
  display: block;
  text-align: center;
  transition: all 0.3s ease-out;
}
.showcase:hover .showcase__title h1 {
  color: white;
  top: 25%;
}
.showcase__overlay {
  position: absolute;
  top: 0;
  left: 60%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 40%;
  transition: all 0.3s ease-out;
}
.showcase:hover .showcase__overlay {
  left: 50%;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
.showcase__category {
  position: absolute;
  top: 60%;
  left: 0;
  padding: 5px;
  display: inline-block;
  font-size: 1rem;
  background-color: rgba(35, 35, 35, 0.9);
}
.showcase__more, .showcase__author {
  position: absolute;
  font-size: 0.9rem;
  top: calc(60% + 2rem);
  display: block;
  float: left;
}
.showcase__author {
  left: 0;
}
.showcase__more {
  left: 0;
}
.showcase__category, .showcase__author, .showcase__more {
  transition: all 0.3s ease-out;
  color: white;
}
.showcase:hover .showcase__category {
  padding-left: 20px;
}
.showcase:hover .showcase__author {
  left: 10px;
}
.showcase:hover .showcase__more {
  left: 20px;
}
